* {
    font-family: "Inter", sans-serif;
}

h1 {
    color: #ebebeb;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #121212, #2e2e2e);
    overflow: hidden;
    position: relative;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Grain is non-interactive */
  }


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');