* {

}

body {

}

p {

}

#title {
    font-size: 2rem;
}

#timora-logo {
    height: 12rem;
    width: 12rem;
    box-shadow: 0px 0px 12px rgba(256, 256, 256, 0.1);
    border-radius: 2.2rem;
}

#quote {
    color: #ababab;
    font-size: 2rem;
}