* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-color: #fff;
    transition: background-color 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#title {
    font-size: 3rem;
}

#timora-logo {
    margin-bottom: 36px;
    height: 18rem;
    width: 18rem;
    box-shadow: 0px 0px 24px rgba(256, 256, 256, 0.05);
    border-radius: 3.3rem;
}

#quote {
    width: 56px;
    height: 56px;
    display: block;
    margin: auto;
    transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#quote:hover {
    scale: 0.95;
    opacity: 0.7;
}

#quote:active {
    opacity: 0.4;
}

.gradient-text {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 36px;
    text-align: center;
    background: linear-gradient(90deg, #ebebeb, #ababab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start-text {
    color: #ababab;
    margin-top: 0;
    font-weight: medium;
    margin-top: 32px;
    font-size: 1.3rem;
    margin-bottom: 4px;
}

.get-started {
    margin-top: 15px;
    background: none;
    border: none;
}